{% for movie in movies %}
    <div class="movie-card">
        <a href="{% url 'movie_detail' movie.tmdb_id %}" class="movie-card-link">
            {% if movie.poster_url %}
                <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" class="movie-poster">
            {% endif %}
        </a>
        <div class="movie-info">
            <p class="movie-title">{{ movie.title }}</p>
            <div class="movie-meta">
                <a href="{% url 'movie_detail' movie.tmdb_id %}#review-form" class="rating-icon">
                    <svg class="icon icon-star {% if movie.avg_rating %}is-filled{% endif %}" width="15" height="15" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <polygon points="12 2 15.09 8.63 22 9.24 16.5 14.14 18.18 21 12 17.27 5.82 21 7.5 14.14 2 9.24 8.91 8.63 12 2" />
                    </svg>
                {% if movie.avg_rating %}
                    <span class="movie-rating">{{ movie.avg_rating|floatformat:1 }}</span>
                {% endif %}
            </a>

                <button class="favorite-btn {% if movie.tmdb_id in favorite_ids %}is-favorited{% endif %}"
                        data-tmdb-id="{{ movie.tmdb_id }}"
                        onclick="return toggleFavorite(event, this)">
                <svg class="icon icon-heart" width="15" height="15" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />                </svg>
                </button>
            </div>
        </div>
    </div>
{% empty %}
    <p class="no-results">検索結果が見つかりませんでした。</p>
{% endfor %}